<br/><br/><br/>
<h1>Pollywog user</h2>

<div class="btn-group">
<!--  <a href="" class="btn btn-navbar" ng-click="setSideBar()"><i class="fa fa-bug"></i> View SideBar</a> -->
  <a href="" class="btn btn-navbar" ng-click="callServerRESTAPI(1)"><i class="fa fa-cogs"></i> Call REST API</a>
  <a href="" class="btn btn-navbar" ng-click=""> </a>
  <a href="" class="btn btn-navbar" ng-click="searchTheLab(2)"><i class="fa fa-building fa-navbar"></i> Search Lab 2nd Floor</a>
  <a href="" class="btn btn-navbar" ng-click="searchTheLab(3)"><i class="fa fa-building fa-navbar"></i> Search Lab 3rd Floor</a>
  <a href="" class="btn btn-navbar" ng-click=""> </a>
  <span id="temp"><img class="btn btn-navbar" ng-src="/images/temp.png"></img>{{temp}}&#8451;</span>
  <span id="humd"><img class="btn btn-navbar" ng-src="/images/humd.png"></img>{{humd}}</span>
  <span id="demidog"><img class="btn btn-navbar" ng-src="/images/motion.png"></img># {{demidog}}</span>
</div>

<div>
  <p>The Darkness is closing in all around you....you are starting to feel something, listening to your mind....</p>
</div>
<img src="images/666-your-soul-and-Mind-control.jpg" height="50%" width="50%"/>
